<div class="catalog__sidebar">
    <div class="catalog__sidefresh">
        <div class="catalog__row">
          
            {% for cat in categorys %}
            <div class="catalog__item">
                <a href="{{ cat.get_absolute_url }}" class="catalog__link">{{ cat.name }}</a>
            </div>
            
                {% for ch in cat.children.all %}
                
                <div class="catalog__item catalog__item--children">
                    <a href="{{ ch.get_absolute_url }}" class="catalog__link">{{ ch.name }}</a>
                </div>
                {% endfor %}
            {% endfor %}


        </div>
        {% comment %} <div class="catalog__row">
            <div class="catalog__title">Фильтр цены</div>

            
            <form action="" class="filter__price">
                <div class="filter__price-item ref-min">
                    <div class="filter__price-item-ref ref-min-ref">
                        <p class="filter__text">От:</p>
                        <input type="number" class="filter__input" data-key="min_price" data-get="{% for key,value in request.GET.items %}{% ifnotequal key 'min_price' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" data-filter="{{ min_filter | floatformat:0 }}" value="{{ min_price | floatformat:0 }}">
                    </div>
                </div>
                <div class="filter__price-item ref-max">
                    <div class="filter__price-item-ref ref-max-ref">
                        <p class="filter__text">До:</p>
                        <input type="number" class="filter__input" data-key="max_price" data-get="{% for key,value in request.GET.items %}{% ifnotequal key 'max_price' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" data-filter="{{ max_filter | floatformat:0 }}" value="{{ max_price | floatformat:0}}">
                    </div>
                </div>
                    
            </form>
            
        

        </div> {% endcomment %}
        {% comment %} <div class="catalog__row">
            <div class="catalog__title">Фильтр цены</div>
            
        

        </div>
        <div class="catalog__row">
            <div class="catalog__title">Фильтр цены</div>
            
        

        </div>
        <div class="catalog__row">
            <div class="catalog__title">Фильтр цены</div>
            
        

        </div> {% endcomment %}

    </div>
</div>