media
db.sqlite3
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
.vscode
.github
.env
.yarn/cache
.yarn/install-state.gz
ehthumbs.db
Thumbs.db
_config.yml
node_modules
dist
package-lock.json

debug.log
static_setup.py

**/local_settings.py
**/secret_key.py
**/staticfiles.json
**/whitenoise.py
main/main/whitenoise.py
main/main/my_whitenoise.py

node_modules
venv
.idea
.ssh
.cache
.bash_history

**/ckeditor

**/__pycache__
**/migrations
releases
main/price.xlsx
main/files
.htaccess
**/passenger_wsgi.py
**/path_ones.py
