
{% load thumbnail %}
{% load theme_static %}

<div id="cart_popup">
    <div class="cart">
        <div class="cart__closer"></div>

        <div class="cart__inner">
            <div class="cart__refresh">
                <div class="cart__top">
                    <p class="cart__title">Корзина</p>
                    <div class="cart__close">
                        <svg width="26" height="28" viewBox="0 0 26 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.85522 5.93945L13.1531 14.0505M13.1531 14.0505L20.451 22.1616M13.1531 14.0505L20.451 5.93945M13.1531 14.0505L5.85522 22.1616" stroke="#333333" stroke-width="1.8766" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>

                    </div>
                </div>
                {% if cart|length > 0 %}
                    <div class="cart__list">
                    
                        {% for item in cart %}
                            {% with product=item.product %}
                            <div class="cart__item">
                                <a href="{{ product.get_absolute_url }}" class="cart__img-wrap">

                                    {% if product.thumb %}

                                        {% thumbnail product.thumb "80x100" format="WEBP" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}" class="cart__img">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img src="{% get_static 'images/noimage.jpg' %}" width="80" height="80" alt="{{ product.name }}" class="cart__img">
                                    {% endif %}

                                </a>
                                <div class="cart__wrap">
                                    <a href="{{ product.get_absolute_url }}" class="cart__name">{{ product.name }}</a>
                                    <p class="cart__price">{{ item.quantity }} x {{ item.price }}₽</p>
                                </div>

                                <a href="{% url "cart:cart_remove" product.id %}" class="cart__remove">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
                                </a>
                            </div>
                            {% endwith %}
                        {% endfor %}
                        {% for zakaz in cart.get_zakaz %}
                            
                            <div class="cart__item">
                                <div class="cart__img-wrap">

                                    {% if zakaz.thumb %}

                                        {% thumbnail product.thumb "80x100" format="WEBP" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ zakaz.name }}" class="cart__img">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img src="{% get_static 'images/noimage.jpg' %}" width="80" height="80" alt="{{ zakaz.name }}" class="cart__img">
                                    {% endif %}

                                </div>
                                <div class="cart__wrap">
                                    <div class="cart__name">{{ zakaz.name }}</div>
                                    <p class="cart__price">{{ zakaz.quantity }} x {{ zakaz.price }}₽</p>
                                </div>

                                <a href="#" class="zakaz__remove" data-id="{{ zakaz.id }}" data-token="{{ csrf_token }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
                                </a>
                            </div>
                            
                        {% endfor %}

                    </div>
                    
                    <div class="cart__total">
                        <p class="cart__total-text">Итого</p>
                        <p class="cart__total-summ">{{ cart.get_total_price }}₽</p>
                    </div>
                    <div class="cart__block">
                        <a href="{% url 'cart:cart_detail' %}" class="btn btn--empty">Просмотреть корзину</a>
                        <a href="{% url "orders:order_create" %}" class="btn btn--full">Оформить</a>

                    </div>
                    
                {% else %}
                
                
                <div class="cart__empty">
                    <p class="cart__empty-text">Корзина пуста</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>



<div id="cart_header">
    <div class="header__cart-wrap header__btn">
        <a href="{% url "cart:cart_detail" %}" class="header__cart">
            

            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.5">
                <path d="M5.93228 13.5961C5.93228 13.9654 5.63285 14.2649 5.26349 14.2649C4.89412 14.2649 4.5947 13.9654 4.5947 13.5961C4.5947 13.2267 4.89412 12.9273 5.26349 12.9273C5.63285 12.9273 5.93228 13.2267 5.93228 13.5961ZM12.6202 13.5961C12.6202 13.9654 12.3208 14.2649 11.9514 14.2649C11.5821 14.2649 11.2826 13.9654 11.2826 13.5961C11.2826 13.2267 11.5821 12.9273 11.9514 12.9273C12.3208 12.9273 12.6202 13.2267 12.6202 13.5961Z" stroke="white" stroke-width="1.33759"/>
                <path d="M1.25073 2.22661H2.92271L3.59151 3.56419M3.59151 3.56419H13.8425C13.8939 3.56419 13.9261 3.61967 13.9006 3.66425L11.2826 8.24574H5.93228L5.59788 7.57695M3.59151 3.56419L5.59788 7.57695M13.289 10.9209H5.00803C4.51086 10.9209 4.18751 10.3977 4.40985 9.95303L5.59788 7.57695" stroke="white" stroke-width="1.33759"/>
                </g>
            </svg>
            

        <div class="header__cart-coutn">
                
                {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                        
                    {{ total_items }}
                            
                    {% else %}
                        0
                    {% endif %}
                {% endwith %}
                
                
            </div> 
        </a>
    </div>

</div>