
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{ serv.meta_title }}{% endblock %}
{% block description %}{{ serv.meta_description }}{% endblock %}
{% block keywords %}{{ serv.meta_keywords }}{% endblock %}
{% block canonical %}{% url 'blog' %}{% endblock %}
{% block og:title %}{{ serv.meta_title }}{% endblock %}
{% block og:description %}{{ serv.meta_description }}{% endblock %}
{% block og:url %}{% url 'blog' %}{% endblock %}
{% block twitter:title %}{{ serv.meta_title }}{% endblock %}
{% block twitter:description %}{{ serv.meta_description }}{% endblock %}

{% block og:image %}{% endblock %}
{% block og:image:secure_url %}{% endblock %}
{% block twitter:image %}{% endblock %}


{% block body %}
{% load static %}




<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__inner">
            <ul class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a class="breadcrumbs__link" href="{% url 'home' %}" title="Главная" itemprop="item">
                        <span itemprop="name">Главная</span>
                        <meta itemprop="position" content="0">
                    </a>
                </li>
                
                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a class="breadcrumbs__link" href="{% url 'serv' %}" title="Услуги" itemprop="item">
                        <span itemprop="name">Услуги</span>
                        <meta itemprop="position" content="1">
                    </a>
                </li>

                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a class="breadcrumbs__link" href="{{ serv.get_absolute_url }}" title="{{ serv.name }}" itemprop="item">
                        <span itemprop="name">{{ serv.name }}</span>
                        <meta itemprop="position" content="2">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="serv-detail">
    <div class="container">
        <div class="serv-detail__inner">
            <h1 class="serv-detail__title title">{{ serv.name }}</h1>
            <div class="serv-detail__text">
                {{ serv.text | safe }}
            </div>

        </div>
    </div>
</div>


{% endblock %}