
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{ shop_setup.meta_title }}{% endblock %}
{% block description %}{{ shop_setup.meta_description }}{% endblock %}
{% block keywords %}{{ shop_setup.meta_keywords }}{% endblock %}
{% block canonical %}{% url 'catalog' %}{% endblock %}
{% block og:title %}{{ shop_setup.meta_title }}{% endblock %}
{% block og:description %}{{ shop_setup.meta_description }}{% endblock %}
{% block og:url %}{% url 'catalog' %}{% endblock %}
{% block twitter:title %}{{ shop_setup.meta_title }}{% endblock %}
{% block twitter:description %}{{ shop_setup.meta_description }}{% endblock %}

{% block og:image %}{% if shop_setup.image %}{% thumbnail shop_setup.image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% else %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endif %}{% endblock %}
{% block og:image:secure_url %}{% if shop_setup.image %}{% thumbnail shop_setup.image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% else %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endif %}{% endblock %}
{% block twitter:image %}{% if shop_setup.image %}{% thumbnail shop_setup.image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% else %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endif %}{% endblock %}


{% block body %}
{% load static %}
{% load thumbnail %}
{% load theme_static %}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__inner">
            <ul class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a class="breadcrumbs__link" href="{% url 'home' %}" title="Главная" itemprop="item">
                        <span itemprop="name">Главная</span>
                        <meta itemprop="position" content="0">
                    </a>
                </li>
                
                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a class="breadcrumbs__link" href="{% url 'catalog' %}" title="Каталог" itemprop="item">
                        <span itemprop="name">Каталог</span>
                        <meta itemprop="position" content="1">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="banner">
    <div class="container">
        <div class="banner__inner">

            <div class="banner__wrapper">
                <h1 class="banner__title">{% if shop_setup.meta_h1 %}{{ shop_setup.meta_h1 }}{% else %}<span>Автозапчасти</span> нашего сервиса{% endif %}</h1>
                <p class="banner__subtitle">
                    Качественные запчасти в наличии и под заказ
                </p>

                <a href="#" class="btn btn--primary btn--border_radius">Записаться на диагностику</a>
            </div>

        </div>
    </div>
  
</div>


<div class="categorys">
    <div class="container">
        <div class="categorys__inner">

            {% for cat in categorys %}
            <a href="{{ cat.get_absolute_url }}" class="categorys__item">
                <h3 class="categorys__title">{{ cat.name }}</h3>

                {% thumbnail cat.image "250x141" format="WEBP" crop="center" as im %}

                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ cat.name }}" class="categorys__img">
                {% endthumbnail %}
                

            </a>
            {% endfor %}
           


        </div>
    </div>
</div>


<div class="catalog">
    
    <div class="container">
        <div class="catalog__inner">

            {% include 'components/catalog__sidebar.html'  %}

            
            <div class="catalog__list">
                <div class="catalog__refresh">
                    {% comment %} {% include 'components/sort.html'  %} {% endcomment %}
                    {% include 'components/product_list.html' with products=products big='' size='186x186' %}
                    

                    {% load pluralize %}
                    {% if products.paginator.num_pages > 1 %}
                    <div class="pagination__wrap">

                        <div class="pagination__count">
                            Всего {{ products.paginator.count}} {{ products.paginator.count | rupluralize:"товар,товара,товаров" }}
                        </div>


                        <nav>
                            <ul class="pagination">
                                {% if products.has_previous %}
                                    <li><a href="?page={{ products.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"> < </a> </li>
                                {% endif %}


                                

                                {% for p in products.paginator.page_range %}
                                    {% if products.number == p %}

                                    <li class="active">
                                        <a href="?page={{ p }}">{{ p }}</a>
                                    </li>

                                    {% elif p >= products.number|add:-2 and p <= products.number|add:2  %}
                                    <li class="page-num">
                                        <a href="?page={{ p }}">{{ p }}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}


                                {% if products.has_next %}
                                    <li><a href="?page={{ products.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"> > </a> </li>
                                {% endif %}
                            </ul>
                        </nav>


                        <div class="pagination__limit">


                        </div>


                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
    
</div>









{% if shop_setup.description %}

<div class="cat-description">
    <div class="container">
        <div class="cat-description__inner">
            {{ shop_setup.description | safe }}

        </div>
    </div>



</div>


{% endif %}

{% endblock %}