$transition: all .5s ease;


$primary: #884FFB;
$secondary: #6c757d;
$success: #9AFDD2;
$danger: #F64E60;
$warning: #FFCA60;
$info: #17a2b8;

$light: #fff;
$dark: #fff;
$muted: #fff;
$white: #fff;





$primary_bg: #f3f6f9;