.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
    padding: 0;
    margin: 0;
}



ul.navbar {
  
  list-style: none;
}

ul.navbar li {
	float: left;
	margin: 0;
	position: relative;
}

ul.navbar li a {
	display: block;
	padding: 13px 15px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
    background: #222;
}

ul.navbar li a:hover,
ul.navbar li:hover > a {
	
	
}

ul.navbar li ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    
    left: 10%;
    font-size: 13px;
    min-width: 170px;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    transition: all .1s ease;

    @media screen and (max-width: 992px) {
        // visibility: visible;
        // opacity: 100%;
        position: relative;
        left: 0;
        
    }
}



ul.navbar ul li { float: none; }
ul.navbar li:hover > ul { opacity: 1; visibility: visible; left: 0; }
ul.navbar li:hover > ul { opacity: 1; visibility: visible; left: 0; }

ul.navbar > li:hover > ul { opacity: 1; visibility: visible; top: 100%; left: 0; }
ul.navbar li > ul  ul { 
    top: 0; left: 90%; 
    @media screen and (max-width: 992px) {
        left: 0;
        padding-left: 20px;
        
    }

}
ul.navbar li > ul li:hover > ul { 
    left: 100%; 

    @media screen and (max-width: 992px) {
        left: 0;
        
        
    }

}
