@font-face {
    font-family: 'Montserrat';
    ;
    src: local('Montserrat Light'), local('Montserrat-Light'),
     
        url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
  
    src: local('Montserrat Extra Bold'), local('Montserrat-ExtraBold'),
      
        url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
  
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
      
        url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    
    src: local('Montserrat Semi-Bold'), local('Montserrat Semi-Bold'),
      
        url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
    
        url('../fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
  
    src: local('Montserrat'), local('Montserrat-Regular'),
     
        url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
      
        url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


