.breadcrumbs {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;

    &--dark {
        background-color: #0B0A11;
        .breadcrumbs__link {
            color: #fff;
        }
        
        .breadcrumbs__item + .breadcrumbs__item {

            &::before {
                content: '-';
                color: #fff;
                margin-left: 5px;
                margin-right: 5px;
            }
        }

    }
    &--absolute {
        position: absolute;
        top: 89px;
        z-index: 2;
    }

    &--gray {
        background-color: var(--color-bg-lightest);
    }
    // .breadcrumbs__inner

    &__inner {
    }

    // .breadcrumbs__list

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    // .breadcrumbs__item

    &__item {
        display: inline-block;
        position: relative;
        font-size: 14px;
        &:last-child {
            a {
                color: rgb(124, 124, 124);
            }
            
        }
    }

    &__item + &__item {

        &::before {
            content: '-';
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    // .breadcrumbs__link

    &__link {
        color: #0B0A11;
    }
}
