
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Запрос по VIN{% endblock %}
{% block description %}Запрос по VIN{% endblock %}
{% block keywords %}Запрос по VIN{% endblock %}
{% block canonical %}{% url 'vin' %}{% endblock %}
{% block og:title %}Запрос по VIN{% endblock %}
{% block og:description %}Запрос по VIN{% endblock %}
{% block og:url %}{% url 'vin' %}{% endblock %}
{% block twitter:title %}Запрос по VIN{% endblock %}
{% block twitter:description %}Запрос по VIN{% endblock %}

{% block og:image %}{% endblock %}
{% block og:image:secure_url %}{% endblock %}
{% block twitter:image %}{% endblock %}


{% block body %}
{% load static %}




<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__inner">
            <ul class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a class="breadcrumbs__link" href="{% url 'home' %}" title="Главная" itemprop="item">
                        <span itemprop="name">Главная</span>
                        <meta itemprop="position" content="0">
                    </a>
                </li>
                
                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a class="breadcrumbs__link" href="{% url 'search_results' %}" title="Запрос по VIN" itemprop="item">
                        <span itemprop="name">Запрос по VIN</span>
                        <meta itemprop="position" content="1">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="block">
    <div class="container">
        <div class="block__inner">

          
            
            <div class="search__inner">
                <p class="search__title">Поиск по каталогу</p>
    
                <form action="/search/" class="search__form">
                    <button class="search__btn">
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.75 21.75C17.2728 21.75 21.75 17.2728 21.75 11.75C21.75 6.22715 17.2728 1.75 11.75 1.75C6.22715 1.75 1.75 6.22715 1.75 11.75C1.75 17.2728 6.22715 21.75 11.75 21.75Z" stroke="#545454" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M24.25 24.25L18.8125 18.8125" stroke="#545454" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </button>
                    <input name="q" type="text" class="search__input" placeholder="Искать товары">
    
                </form>
               
            </div>



        </div>
    </div>
</div>





{% endblock %}